<nb-layout>

  <nb-layout-header fixed>
    <button class="add-btn" nbButton ghost size="giant" (click)="onOpenDialog()">
      <nb-icon icon="chevron-right-outline"></nb-icon>
      Take a Note
    </button>
  </nb-layout-header>
  <nb-layout-column>
    <div class="container">
      <app-search-box (searchQuery)="onSearch($event)"></app-search-box>
      <div class="notes-container">
        <app-note-card
          *ngFor="let note of notes$ | async"
          [note]="note"
          (openNote)="onOpenDialog($event)"
          (removeNote)="onRemoveNote($event)"
        ></app-note-card>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer class="footer" fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
