.container {
  width: 25%;
  position: relative;

  @media (max-width:765px) {
    width: 100%;
  }
}
.add-btn {
  margin-left: 25px;
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
.notes-container {
  max-height: 650px;
  overflow: auto;
  margin-top: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
