.confirm-modal {
  width: 450px;
  height: 220px;
  @media (max-width:765px) {
    width: 100%;
  }
  &-header {color: #ff3d71;}
  &-footer {
    display: flex;
    justify-content: space-evenly;
  }
}
